<div class="container container-index">
  <% @pokemon.each do |pokemon| %>
    <%= link_to pokemon_url(pokemon.id) do %>
      <div class="card" data-pokemon-id="<%= pokemon.id %>">
        <div class="card__id">
          <p class="card__id--number"><%= pokemon.entry_no %></p>
        </div>
        <div class="card__name">
          <p class="card__name--name">
            <%= pokemon.name.capitalize %>
          </p>
        </div>
        <div class="card__types">
          <button class="btn btn__type--<%= pokemon.type_one %>"><%= pokemon.type_one %></button>
          <% if pokemon.type_two %>
            <button class="btn btn__type--<%= pokemon.type_two %>"><%= pokemon.type_two %></button>
          <% end %>
        </div>
        <div class="card__image">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/d41c408f7e5be9848260f470e34069c264091a69/sprites/pokemon/<%= pokemon.id %>.png" alt="<%= pokemon.name %>-sprite" class="card__image--photo">
        </div>
      </div>
    <% end %>
  <% end %>
</div>
