<div class="container container-show">
  <header class="heading">
    <h1 class="heading__name">
      <%= @pokemon.name.capitalize %>
    </h1>
    <h2 class="heading__id">
      #<%= @pokemon.entry_no %>
    </h2>
    <%= link_to 'Back', pokemon_index_url , class:"heading__back" %>
  </header>
  <div class="pokemon-sprite">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= @pokemon.id %>.png" alt="<%= @pokemon.name %>-sprite" class="pokemon-sprite__image">
  </div>
  <div class="details">
    <div class="details__types">
      <button class="btn btn__type--<%= @pokemon.type_one %>"><%= @pokemon.type_one %></button>
      <% if @pokemon.type_two %>
        <button class="btn btn__type--<%= @pokemon.type_two %>"><%= @pokemon.type_two %></button>
      <% end %>
    </div>
    <div class="details__description">
      <%= @pokemon.description %>
    </div>
    <div class="details__stats">
      <ul>
        <li class="details__statbox details__statbox--hp">
          <p class="details__statbox--name">HP</p>
          <p class="details__statbox--value"><%= @pokemon.hp %></p>
        </li>
        <li class="details__statbox details__statbox--attack">
          <p class="details__statbox--name">Attack</p>
          <p class="details__statbox--value"><%= @pokemon.attack %></p>
        </li>
        <li class="details__statbox details__statbox--defense">
          <p class="details__statbox--name">Defense</p>
          <p class="details__statbox--value"><%= @pokemon.defense %></p>
        </li>
        <li class="details__statbox details__statbox--specialattack">
          <p class="details__statbox--name">Spec. Attack</p>
          <p class="details__statbox--value"><%= @pokemon.specialattack %></p>
        </li>
        <li class="details__statbox details__statbox--specialdefense">
          <p class="details__statbox--name">Spec. Defense</p>
          <p class="details__statbox--value"><%= @pokemon.specialdefense %></p>
        </li>
        <li class="details__statbox details__statbox--speed">
          <p class="details__statbox--name">Speed</p>
          <p class="details__statbox--value"><%= @pokemon.speed %></p>
        </li>
        <li class="details__statbox details__statbox--height">
          <p class="details__statbox--name">Height (m)</p>
          <p class="details__statbox--value"><%= @pokemon.height/10.0 %></p>
        </li>
        <li class="details__statbox details__statbox--weight">
          <p class="details__statbox--name">Weight (kg)</p>
          <p class="details__statbox--value"><%= @pokemon.weight/10.0 %></p>
        </li>
      </ul>
    </div>
  </div>
</div>
